<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianjun.dao.IBillMapper">

    <select id="getBills" resultMap="Bill">
        select *
        from t_bill
        where email = #{email}
          and is_del = false
        order by update_date;
    </select>
    <select id="getRegularBills" resultMap="Bill">
        select *
        from t_bill
        where email = #{email}
          and is_del = false
          and tag = 1
        order by update_date desc;
    </select>

    <select id="queryBillByType" resultMap="Bill">
        select *
        from t_bill
        where t_bill.bill_id in (select t_bill_type.bill_id from t_bill_type where type_id = #{typeId})
        order by update_date desc;
    </select>

    <select id="queryBillByWallet" resultMap="Bill">
        select *
        from t_bill
        where wallet_id = #{walletId}
        order by update_date desc;
    </select>

    <select id="getBillsByDate" resultMap="Bill">
        select *
        from t_bill
        where email = #{email}
          and is_del = false
          and update_date &gt;= #{start}
          and update_date &lt;= #{end};
    </select>

    <insert id="addBill">
        insert into t_bill (email, create_date, update_date, bill_id, wallet_id, money, memo, position, title, tag)
        values (#{email},
                #{createDate},
                #{updateDate},
                #{billId},
                #{walletId},
                #{money},
                #{memo},
                #{position},
                #{title},
                #{tag})
    </insert>

    <update id="updateBill">
        update t_bill
        set update_date = #{upateDate},
            wallet_id   = #{walletId},
            money       = #{money},
            position    = #{position},
            memo        = #{memo},
            title       = #{title}
        where bill_id = #{billId}
    </update>

    <update id="deleteBill">
        update t_bill
        set is_del = true
        where bill_id = #{bill_id};
    </update>

    <resultMap id="Bill" type="com.jianjun.entity.bill.BillResponse">
        <id property="billId" column="bill_id"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="email" column="email"/>
        <result property="walletId" column="wallet_id"/>
        <result property="money" column="money"/>
        <result property="memo" column="memo"/>
        <result property="title" column="title"/>
    </resultMap>
</mapper>